{% extends "main/base.html" %}

{% block title %}Book{% endblock title %}

{% block content %}
<div class="book" id="book" >
    <div class="row" id="padd">
        <div class="col-2" id="side_bar">
            <h3>Filters</h3>
            <hr color="blue" size="5" />
            <p>All books</p>
            {% for category in category %}
                <p>{{category.name}}</p>
            {% endfor %}
            
            <button class="btn rounded-xl" id="button">Clear all </button>
        </div>

        <div class="col-10" id="main_bar">
            <h3>Main content</h3>
            <hr color="blue" size="5" />
            
            {% for book in books %}
            <div class="display">
                <div class="books">
                    <div class="card text-bg-info">
                        <img src="{{book.image.url}}" class="card-img-top" id="img" alt="picture of book">
                        <div class="card-body">
                        <a class="book" href="#"><h5 class="card-title" align="center">{{book.name}}</h5></a>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock content %}