{% extends "main/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="homepage" id="homepage">
    <h2>Digital Library</h2>
    <div id="description" class="description">
        <p id="desc">We are a passionate and committed team of librarians driven by the shared goal of enriching the reading experiences of our community. Our mission is centered around the provision of diverse and vital books across a wide range of categories that are currently in high demand.
        As avid proponents of literature, we believe in the transformative power of books to enlighten, inspire, and broaden perspectives. Our carefully curated collection reflects our dedication to catering to the evolving interests and preferences of our readers.
        Whether you're seeking the latest bestsellers, timeless classics, or niche genres, our library is designed to be a haven for bibliophiles of all tastes. We strive to create an environment where knowledge is easily accessible, fostering a love for reading and lifelong learning.
        Through our collaborative efforts, we aim to not only meet but exceed the expectations of our patrons. Our commitment goes beyond the shelves of our library; it extends to creating a vibrant and inclusive literary community. We invite you to embark on a literary journey with us, where every book is a gateway to new worlds and endless possibilities.</p>
    </div>
</div>
{% endblock %}