
#header {
    color: #444444;
    background: #D5DEEF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}


#book {
    margin: 15px 10px 5px 5px;
    background-color: #D5DEEF;
    font-size: 20px;
}

#padd {
    padding: 15px 20px;
}

#side_bar {
    background-color: #B1C9EF;
    font-size: 18px;
}

#side_bar #button {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background: #395886;
    border: 1px solid #0f0bf1;
    cursor: pointer;
    margin: 15px 0 10px 0;
}
  
#side_bar #button:hover {
    background: #638ECB;
}


#homepage {
    height: 100vh;
    background: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}

#homepage h2 {
    color: #D5DEEF;
    margin-left: 45%;
}


#description {
    background-color: rgba(177, 201, 239, 0.7);
    margin: 30px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

p#desc {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);
}


.display {
  display: inline-block;
  margin: 0 1% 30px 1%;
}  

.books {
  height: 200px;
  width: 250px; 
}

#img {
    width: 250px;
    height: 300px;
    object-fit: contain;
}


a.book {
  color: #638ECB;
  text-decoration: none;
}

a.book:hover {
  color: #395886;
  text-decoration: none;
}

.newsletter {
    margin: 2%;
    padding: 1%;
    background-color: #D5DEEF;
}

form.news {
    width: 50%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}


form.news input{
    height: 100%;
    width: 80%;
    outline: none;
    margin: 5% 2% 3% 2%;
    padding-left: 3%;
    border-radius: 10px;
    border: 1px solid lightgrey;
    font-size: 20px;
    transition: all 0.3s ease;
}

form.news button{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    background: #395886;
    border: 1px solid #16a085;
    cursor: pointer;
    margin: 20px;
}