{% extends "main/base.html" %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="login_container">
    <div class="wrapper">
        <div class="title"><span>Register Form</span></div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <i class="fa-solid fa-user-pen"></i>
                <input type="text" placeholder="First Name" name="first_name" required>
            </div>
            <div class="row">
                <i class="fa-solid fa-user-pen"></i>
                <input type="text" placeholder="Last Name" name="last_name" required>
            </div>
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Email" name="email" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" name="password1" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Retype Password" name="password2" required>
            </div>
            <div class="pass"><a href="#">Forgot password?</a></div>
            <div class="row button">
                <input type="submit" value="Register">
            </div>
            <div class="signup-link">Already have account? <a href="{% url "login" %}">Login</a></div>
        </form>
    </div>
</div>
{% endblock content %}